	<footer class="footer" id="footer">
		<div class="container">
			<div class="row align-items-center justify-content-center">
				<div class="col-12 col-lg-3">
					<div class="copy d-flex align-items-center justify-content-around d-lg-block">
						<a href="#" class="footer-logo">
							<img src="{{image_link}}/footer-logo.png" alt="BRAVOМЕБЕЛЬ">
						</a>
						<p class="rights">
							Все права защищены / &#169; 2019
						</p>
					</div>
				</div>
				<div class="col-12 col-lg-6">
					<nav>
						<ul class="menu d-flex justify-content-center">
							<li class="menu__item">
								<a href="#merits-section" class="menu__link go-to">
									Преимущества
								</a>
							</li>
							<li class="menu__item">
								<a href="#hits-section" class="menu__link go-to">
									Каталог
								</a>
							</li>
							<li class="menu__item">
								<a href="#about-section" class="menu__link go-to">
									О компании
								</a>
							</li>
							<li class="menu__item">
								<a href="#feedback-section" class="menu__link go-to">
									Отзывы
								</a>
							</li>
							<li class="menu__item">
								<a href="#contacts-section" class="menu__link go-to">
									Контакты 
								</a>
							</li>
						</ul>
					</nav>
				</div>
				<div class="col-12 col-lg-3">
					<ul class="footer-contacts justify-content-around d-flex d-lg-block ml-lg-auto">
						<li class="footer-contacts__item">
							<a href="https://tdbravomebel.ru/" target="_blank" rel="nofollow" class="footer-contacts__link">
							<span class="footer-contacts__icon">
								<i class="fab fa-internet-explorer"></i>
							</span>
								tdbravomebel.ru
							</a>
						</li>
						<li class="footer-contacts__item">
							<a href="mailto:opt@tdbravomebel.ru" class="footer-contacts__link">
							<span class="footer-contacts__icon">
								<i class="fas fa-envelope"></i>
							</span>
								opt@tdbravomebel.ru
							</a>
						</li>
						<li class="footer-contacts__item">
							<a href="tel:+79803002474" class="footer-contacts__link">
							<span class="footer-contacts__icon">
								<i class="fas fa-phone"></i>
							</span>
								+7 (980) 300-24-74
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</footer>


    <script src="{{ js_link }}/jquery-3.3.1.min.js" type="text/javascript"></script>
    <script src="{{ js_link }}/bootstrap.min.js" type="text/javascript"></script>

    <script src="{{ js_link }}/jquery.arcticmodal-0.3.min.js"></script>
    <script src="{{ js_link }}/slick.min.js"></script>
    <script src="{{ js_link }}/main.js"></script>
    
  </body>
</html>
